{% load static %}

<style>
  .footer-links {
    font-size: 20px;
  }
  .footer-links > a {
    margin: 0px 10px;
  }
</style>

<footer class=" text-center" style="background-color: rgba(0, 0, 0, 1);">
    <div class="text-center p-3" >
      <a href="#">
        <img src="{% static 'img/logo-text.png' %}" width=100 alt="" /></a>
      </a>
    </div>
    <div class="text-center p-3 footer-links">
      <a href="https://t.me/priama_diia"><i class="fa fa-telegram" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/priama.diia"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/priama_diia/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://twitter.com/PriamaDiia/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
</footer>