{% load static %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Пряма Дія</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/"><img src="{% static 'img/logo.png' %}" alt="" /></a>
        <ul>
            <li><a href="/" class="active">Про нас</a></li>
            <li><a href="/publications">Публікації</a></li>
        </ul>
        <form action="https://forms.gle/nzo8eoXaxBobfbyo8/"><button>ВСТУПИТИ</button></form>
    </header>
    <main>
        <h1>Про нас</h1>
        <p>«Пряма дія» — це ліва студентська профспілка, яка поділяє принципи рівності, лібертарної педагогіки і виступає проти комерціалізації освіти.</p>
        <div class="images">
            <div>
                <img src="{% static 'img/map.jpg' %}" alt="" />
                <img src="{% static 'img/stolik.jpg' %}" alt="" />
            </div>
            <div>
                <img src="{% static 'img/protest.jpg' %}" alt="" />
            </div>
        </div>
    </main>
    <footer>
        <div>
            <p>Незалежна студентська профспілка "Пряма Дія"</p>
        </div>
        <div class="links">
            <a href="https://www.facebook.com/priama.diia/"><img src="{% static 'img/footer-facebook.png' %}" alt="" /></a>
            <a href="https://t.me/priama_diia"><img src="{% static 'img/footer-telegram.png' %}" alt="" /></a>
            <a href="https://www.instagram.com/priama_diia/"><img src="{% static 'img/footer-instagram.png' %}" alt="" /></a>
            <a href="https://twitter.com/PriamaDiia/"><img src="{% static 'img/footer-twitter.png' %}" alt="" /></a>
        </div>
    </footer>
            <style>
                @media (min-width: 1000px) {
                    .images img {
                        margin-top: 15px;
                        height: fit-content;
                        width: 100%;
                    }
                    .images {
                        display: flex;
                        justify-content: space-between;
                    }
                    .images div {
                        width: 48%;
                    }
                }
        </style>
</body>
</html>
