{% load static %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
{% include "head.html" %}

<head>
    <script>
        $(function () {
            $(document).ready(function () {
                var $nav = $(".pd-navbar");
                $nav.toggleClass('scrolled');
            });
        });
    </script>
</head>

<body>
    {% include "navbar.html" %}

    <main>

        <div class="container-fluid ">

            <div id="material-zine1" class="row" style="min-height: 100vh; background-color: #FF55D4;">
                <div class="d-xl-none d-lg-none" style="height:150px;"></div>
                <div class="col-xl-6 col-lg-6 text-center text-break my-auto" style=" color: white;">
                    <h6 style="text-transform: uppercase;">зін</h6>
                    <h1 class="mb-3 meterial-name">Д.І.Й. №1</h1>
                    <h1>«</h1><br>
                    <p class="px-5" style="font-style: italic;">
                        ...зін присвячений темі того, як студенти живуть та знаходять
                        сили на активізм під час війни. У ньому присутні різні досвіди-тексти,
                        можливо в якомусь із них ти побачиш і себе.
                    </p>
                    <h1>»</h1>
                </div>
                <div class="col-xl-6 col-lg-6 p-0 text-center">
                    <div class="bg-image h-100" style="
                    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
                                        url('/static/img/zine1-mockup.jpg');
                    background-color: #cccccc;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                    min-height: 400px;
                    display: flex;
                    align-items: center;
                  ">
                        <a class="pd-btn-white p-2" style="position: relative; left: 45%;background-color: white;"
                            href="https://drive.google.com/file/d/1Mm_IyWi4DwQ2tPLji5GB-VctQ2x8Mfys/view?usp=sharing"
                            target="_new">
                            Читати
                        </a>
                    </div>
                </div>
            </div>

            <div id="material-manifesto" class="row" style="min-height: 100vh; background-color: #FF55D4;">
                <div class="d-xl-none d-lg-none" style="height:150px;"></div>
                <div class="col-xl-6 col-lg-6 text-center text-break my-auto" style=" color: white;">
                    <h6 style="text-transform: uppercase;">маніфест</h6>
                    <h1 class="mb-3 meterial-name">Студентство — це кров Університету</h1>
                    <h1>«</h1><br>
                    <p class="px-5" style="font-style: italic;">
                        Ба більше, студентство завжди було, є і буде частиною більшого — робітничого руху. Студентський
                        рух по праву може вважатися не просто боротьбою за кращі умови навчання, а невід’ємною частиною
                        масштабнішого руху за звільнення людини.
                    </p>
                    <h1>»</h1>
                </div>
                <div class="col-xl-6 col-lg-6 p-0 text-center">
                    <div class="bg-image h-100" style="
                        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
                                            url('/static/img/manifesto_mockup.jpg');
                        background-color: #cccccc;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        position: relative;
                        min-height: 400px;
                        display: flex;
                        align-items: center;
                      ">
                        <a class="pd-btn-white p-2" style="position: relative; left: 45%;background-color: white;"
                            href="{% static 'pdf/priama-diia-manifesto_students-are-blood-of-the-university.pdf' %}"
                            target="_new">
                            Читати
                        </a>
                    </div>
                </div>
            </div>

            <div id="material-psycholohichne-nassyllia" class="row"
                style="min-height: 100vh; background-color: #FF55D4;">
                <div class="d-xl-none d-lg-none" style="height:150px;"></div>
                <div class="col-xl-6 col-lg-6 text-center text-break my-auto" style=" color: white;">
                    <h6 style="text-transform: uppercase;">брошура</h6>
                    <h1 class="mb-3 meterial-name">Психологічне насилля з боку викладачів</h1>
                    <h1>«</h1><br>
                    <p class="px-5" style="font-style: italic;">
                        Позиція викладача – це завжди владна позиція. Викладач у програмі дисципліни визначає, що саме
                        студенти та студентки вивчатимуть, задає тон обговоренням семінарів, визначає форми контролю і
                        зрештою оцінює
                        студентів. Проте останні не є безправними та можуть спільними діями впливати як на окремого
                        викладача, так і на всю систему освіти.
                    </p>
                    <h1>»</h1>
                </div>
                <div class="col-xl-6 col-lg-6 p-0 text-center">
                    <div class="bg-image h-100" style="
                        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
                                            url('/static/img/leaflet_nasyllia_mockup.jpg');
                        background-color: #cccccc;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        position: relative;
                        min-height: 400px;
                        display: flex;
                        align-items: center;
                      ">
                        <a class="pd-btn-white p-2" style="position: relative; left: 45%;background-color: white;"
                            href="{% static 'pdf/psycholohichne-nasyllia-z-boku-vykladatchiv.pdf' %}" target="_new">
                            Читати
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </main>

    {% include "footer.html" %}

</body>

</html>