{% load static %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
{% include "head.html" %}
<head>
    <style>
        .masthead {
          height: 70vh;
          min-height: 500px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
    </style>
    <script>
        $(function () {
            $(document).ready(function () {
                var $nav = $(".pd-navbar");
                $nav.toggleClass('scrolled');
            });
        });
    </script>
</head>
<body>
    {% include "navbar.html" %}

    {% if publication.image %}
    <header class="masthead" style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), #e1e1e1), url('{{ publication.image.url | safe }}');">
        <div class="container h-100 w-75">
          <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
              <h1 class="fw-light text-center display-3" style="color: black;">{{ publication.heading | safe }}</h1>
              <h5 class="fw-light text-center mt-4" style="text-transform: capitalize;">{{ publication.date_legible | safe }}</h5>
            </div>
          </div>
        </div>
    </header>
    {% endif %}
    
    <main>

        <div class="container-md mb-5 text-break">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10 col-sm-11 col-xs-11">
                    <p class="article-text"> {{ publication.text | safe }} </p>
                </div>
            </div>
            
            
        </div>
        
    </main>

    {% include "footer.html" %}
    
</body>
</html>
