{% load static %}


<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Пряма Дія: Публікації</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'logo.ico' %}"/>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
</head>
<body>
    <header>
        <a href="index.html"><img src="{% static 'img/logo.png' %}" alt="" /></a>
        <ul>
            <li><a href="/">Про нас</a></li>
            <li><a href="/publications">Публікації</a></li>
        </ul>
        <form action="https://forms.gle/nzo8eoXaxBobfbyo8/"><button>ВСТУПИТИ</button></form>
    </header>
    <main>
        <h1>Опублікувати статтю</h1>
        <form action="" method="POST" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="form-input" placeholder="Заголовок" name="heading" type="text" />
            <textarea class="form-textarea" placeholder="Текст публікації" name="text" id="editor" type="text"></textarea>
            <input class="form-input" placeholder="Зображення" name="image" type="file" accept="image/*" />
            <input class="form-input" placeholder="SLUG" name="slug" type="text" />
            <button class="form-button">Опублікувати</button>
        </form>
    </main>
    <footer>
        <div>
            <p>Незалежна студентська профспілка "Пряма Дія"</p>
        </div>
        <div class="links">
            <a href="https://www.facebook.com/priama.diia/"><img src="{% static 'img/footer-facebook.png' %}" alt="" /></a>
            <a href="https://t.me/priama_diia"><img src="{% static 'img/footer-telegram.png' %}" alt="" /></a>
            <a href="https://www.instagram.com/priama_diia/"><img src="{% static 'img/footer-instagram.png' %}" alt="" /></a>
            <a href="https://twitter.com/PriamaDiia/"><img src="{% static 'img/footer-twitter.png' %}" alt="" /></a>
        </div>
    </footer>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'), {
            toolbar: ['heading', '|', 'bold', 'italic', '|', 'link', '|', 'bulletedList', 'numberedList', 'blockQuote']
        })
        .catch(error => {
            console.error(error);
        });
</script>
</body>
</html>
